@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body {
    /* background-image: url("../../Gifs/date/bilbohouse.gif"); */
        
        
        
        
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
background-size: 100svw 100svh;
        background-position: top;
background-repeat: no-repeat;
        overflow: hidden;
        
}


.progress {
    
    position: absolute;
    top:50%;
    width: 90svw;
    transform: translateX(-50%);

    
    background: rgb(218,94,27);
background: linear-gradient(90deg, rgba(218,94,27,1) 0%, rgba(255,252,0,1) 28%, rgba(0,209,31,1) 100%);
    border-radius: 25px;
    overflow: hidden;
    /* margin-top:75vh; */

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    
}
#progresstext{
    line-height: 30px;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.progress-bar {
    height: 30px;
    float:right;
    width: 0;
    background-color: #e0e0e0;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    color: black;
    transition: width 0.4s ease;
    background-image: url("../../Gifs/date/dogsrunning.GIF");
    background-size: 40svw 4svh;
    background-repeat:repeat-x;
    background-position: right 50% bottom 50%;
}
#dogsrunning {
    position: absolute;
    top: 5%;
    width: 100svw;
    /* transform: translateX(-3%); */
}
#loadingmsg {
    position: absolute;
    top: 40%;
    width: 100svw;
    left: 35svw;
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: hsl(230, 100%, 95%);
}
@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }

  #loadmsg {
    margin: auto;
    font-weight: 500;
    animation: lights 5s 500ms linear infinite;
    transform: translateX(-28%);

  }
  #loadsubmsg {
    color: hsl(230, 40%, 80%);
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    top: 3svh;
    transform: translateX(-25%);
    /* margin-top: 5px; 
    font-size: 18px;
    font-weight: 400;

    transform: translateX(-25%); */

  }