body {
    background-image: url("../../Gifs/date/bilbohouse.gif");
        
        background-size: 100svw 100svh;
        background-position: top;
        background-repeat: no-repeat;
        
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
}


.progress {
    
    position: absolute;
    top:50%;
    width: 90svw;
    transform: translateX(-50%);

    
    background: rgb(218,94,27);
background: linear-gradient(90deg, rgba(218,94,27,1) 0%, rgba(255,252,0,1) 28%, rgba(0,209,31,1) 100%);
    border-radius: 25px;
    overflow: hidden;
    /* margin-top:75vh; */

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    
}
#progresstext{
    line-height: 30px;
    font-size: 25px;
}

.progress-bar {
    height: 30px;
    float:right;
    width: 0;
    background-color: #e0e0e0;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    color: black;
    transition: width 0.4s ease;
    background-image: url("../../Gifs/date/dogsrunning.GIF");
    background-size: 40svw 4svh;
    background-repeat: no-repeat;
}
#dogsrunning {
    position: absolute;
    top: 5%;
    width: 100svw;
    /* transform: translateX(-3%); */
}
#loadingmsg {
    position: absolute;
    top: 3%;
    width: 5svw;
    left: 35svw;
}